body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#searchContainer {
    margin-bottom: 20px;
}

input[type="text"], select {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#results {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.year-box {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.year-box:hover {
    transform: translateY(-10px); /* Moves the box upward */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Creates a shadow to give depth */
}


.publication {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.publication:last-child {
    border-bottom: none;
}

.hidden {
    display: none;
}

#pagination {
    margin-top: 20px;
    text-align: center;
}

.page-link {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.page-link:hover {
    background-color: #4cae4c;
}

.author-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e9e0e0;
}

.author-link {
    font-size: 1.1em;
    color: #007bff;
    text-decoration: none;
}

.author-link:hover {
    color: #0056b3;
    font-size: 1.2em;
}

.author-affiliation {
    font-size: 0.9em;
    color: #555;
}

.author-separator {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.year-header {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: green;
    font-family: 'Roboto';
}

.publication {
    margin-bottom: 15px;
}

.publication strong {
    display: block;
}
#buffer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    animation: spin 1s linear infinite;
    z-index: 9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
